.App {
  text-align: center;
  position: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.form-control{
margin-right: 10px;
}
input.form-control::placeholder{
  opacity: 0.3;
}
.ProjectName{
  text-align: center;
  background: yellow;
  border: 2px solid black;
  color: text;
  padding: 12px;
}
.SearchInput{
 margin-right: 7px;
 
}
.InputDetails{
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}
.form-control::placeholder {
  opacity: 0.1;
}
p.card-text{
  font-size: small;
}

div.card-title.h5{
  margin-top: 0;
  font-size: 1rem;
}
img.card-img-top{
  margin-left: 17px;
  margin-top: 5px;
}
div.card{
  margin-top: 10px;
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
